<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>

<nav th:replace="layout :: header"></nav>

<div class="container" id="main-content">
    <div class="row">
        <div class="col-6 no-padding">
            <form class="form-inline" th:action="@{/contact/search-contact}" method="GET">
                <input class="form-control mr-sm-2" type="search" name="term" placeholder="Search by name ..." />
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-search"></i> Search
                </button>
            </form>
        </div>

        <div class="col-6 no-padding">
            <a th:href="@{/contact/add-contact}" class="btn btn-success float-right">
                <i class="fa fa-plus-square"></i> New contact
            </a>
        </div>
    </div>

    <div class="row mt-4">
        <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
            <span th:text="${successMessage}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <th:block th:if="${#lists.isEmpty(listContact)}">
            <h5>No contacts</h5>
        </th:block>

        <th:block th:unless="${#lists.isEmpty(listContact)}">
            <div class="table-responsive">
                <h5>List of contacts</h5>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="contact,iterStat : ${listContact}">
                        <th scope="row" th:text="${iterStat.count}"></th>
                        <td th:text="${contact.getName()}"></td>
                        <td th:text="${contact.getEmail()}"></td>
                        <td th:text="${contact.getPhone()}"></td>
                        <td>
                            <a href="#" th:href="@{/contact/edit-contact/{id}(id=${contact.id})}" class="mr-sm-2 text-primary">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a href="#" th:href="@{/contact/delete-contact/{id}(id=${contact.id})}" class="text-danger">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </th:block>
    </div>
</div><!-- /.container -->

<footer th:replace="layout :: footer"></footer>

</body>
</html>