body {
    background-color: #FAFAFA;
}

#main-content {
    min-height: 500px;
    margin-top: 50px;
}

.no-padding {
    padding: 0;
}

.table th, td {
    text-align: center;
}

.field-error {
    border-color: #FF0000;
    margin-bottom: 10px;
}

/**/
.success {
    color: green;
}

.error {
    color: red;
}

.field-error {
    border: 1px solid red;
}

input {
    margin-bottom: 5px;
}

em {
    color: red;
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}